.nav{
    width: 18%;
    height: 38rem;
    padding: 3rem;
    background-color: rgba(107,3,207,1);
    justify-content: center;
    border-radius: 1rem;
  
    &-link{
        width: 100%;
        height: fit-content;
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        
        &-text{
            font-size: 1.3rem;
            font-weight: 400;
            text-decoration: none;
            color: lightgray;
            &-active{
                color: #fff;
            }
            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }
        &-indicator{
            margin-right: -4rem;
            height: 2rem;
            width: 1.5rem;
            background-color: #fff;
            border-bottom-left-radius: 1.5rem;
            border-top-left-radius: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: .7rem;
            &-icon{
                font-size: 1.5rem;
                color: #d1d1d1;
            }
        }
    }
}