.nav{
    width: 18%;
    padding-left: 2rem !important;
    padding-right: 2rem;
    background-color: rgba(107,3,207,1);
    justify-content: center;
    border-radius: 1rem;
  
    &-link{
        width: 100%;
        height: fit-content;
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding-right: 2rem !important;
        padding-left: 0rem !important;
        &-text{
            font-size: 1.1rem;
            font-weight: 400;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.4);
            &-active{
                color: #fff;
            }
            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }
        &-indicator{
            margin-right: -4rem;
            height: 2.3rem;
            width: 1.8rem;
            background-color: #fff;
            border-bottom-left-radius: 1.5rem;
            border-top-left-radius: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: .7rem;
            &-icon{
                font-size: 1.2rem;
                color: #d1d1d1;
            }
        }
    }
}