


.address{
    flex-direction: column;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    &-text{
        font-size:1.3rem;
        color: #bbb;
    }
    &-info{
        width: 50%;
    }

    &-map{
        margin-top: .5rem;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20rem;
        border: 1px solid;
        overflow: hidden;
        border-radius: 2rem;

        
    }

    &-geo{
        margin-top: 1rem;
        font-size: .7rem;
        display: flex;
        
        &>*{
            margin-left: auto;
        }

        &-grey{
            color: #bbb;
            margin-right: .5rem;
        }

        &-black{
            color: #555;
            &:not(:last-child){
                margin-right: 1rem;
            }
        }
    }
}